/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@300&display=swap");
:root {
  --color-primary: rgb(126, 213, 111);
  --color-secondary: rgb(40, 180, 133);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-light-grey: rgb(247, 247, 247);
  --color-dark-grey: rgb(153, 153, 153);
  --color-dark-grey2: rgb(51, 51, 51);
  --color-orange: rgb(255, 119, 48);
  --box-shadow-dark: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  --box-shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  --font-size-xlrg: 8rem;
  --font-size-lrg: 5rem;
  --font-size-med: 3.5rem;
  --font-size-sml: 2.5rem;
  --font-size-xsml: 1.9rem;
  --font-size-xxsml: 1.7rem;
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    -o-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    -o-transform: translateX(10rem);
    transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem);
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

p {
  font-size: var(--font-size-xxsml); }

.heading-primary {
  color: var(--color-white);
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: var(--font-size-xlrg);
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: var(--font-size-lrg); } }
  .heading-primary--sub {
    display: block;
    letter-spacing: 1.75rem;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: var(--font-size-med);
  display: inline-block;
  letter-spacing: 0.2rem; }

.heading-tertiary {
  font-size: var(--font-size-sml); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 7rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 3rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: var(--font-size-sml);
  font-family: inherit;
  border: none;
  cursor: pointer; }

.btn:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: var(--box-shadow-light); }
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -moz-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    -o-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-light); }

.btn--green {
  background-color: var(--color-primary);
  color: var(--color-white); }
  .btn--green::after {
    background-color: var(--color-primary); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.form {
  font-size: var(--font-size-xxsml); }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: var(--box-shadow-dark);
      border-bottom: 3px solid var(--color-primary); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--color-orange); }
    .form__input::-webkit-input-placeholder {
      color: var(--color-dark-grey); }
  .form__label {
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    -moz-transform: translateY(-4rem);
    -ms-transform: translateY(-4rem);
    -o-transform: translateY(-4rem);
    transform: translateY(-4rem); }
  .form textarea {
    resize: vertical;
    max-height: 40rem; }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/contact.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: var(--box-shadow-dark); }
  @media only screen and (max-width: 75em) {
    .contact {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../../img/contact.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%); } }
  .contact__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .contact__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }

.hiring-cards {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 52rem; }
  .hiring-cards__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: var(--box-shadow-dark); }
    .hiring-cards__side--front {
      background-color: var(--color-white); }
    .hiring-cards__side--back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .hiring-cards:hover .hiring-cards__side--front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .hiring-cards:hover .hiring-cards__side--back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0); }
  .hiring-cards__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .hiring-cards__picture--1 {
      background-image: url(../../img/styling.jpg); }
    .hiring-cards__picture--2 {
      background-image: url(../../img/authentication.jpg); }
    .hiring-cards__picture--3 {
      background-image: url(../../img/consultancy.jpg); }
  .hiring-cards__heading {
    font-size: var(--font-size-sml);
    text-align: right;
    color: var(--color-white);
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .hiring-cards__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .hiring-cards__details {
    padding: 3rem; }
    .hiring-cards__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .hiring-cards__details ul li {
        text-align: center;
        font-size: var(--font-size-xxsml);
        padding: 1rem; }
        .hiring-cards__details ul li:not(:last-child) {
          border-bottom: 1px solid var(--color-light-grey); }
  .hiring-cards__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .hiring-cards__reverse-info {
    text-align: center;
    color: var(--color-white);
    margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .hiring-cards {
      height: auto;
      border-radius: 3px;
      background-color: var(--color-white);
      box-shadow: var(--box-shadow-dark); }
      .hiring-cards__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .hiring-cards__side--back {
          -webkit-transform: rotateY(0);
          -moz-transform: rotateY(0);
          -ms-transform: rotateY(0);
          -o-transform: rotateY(0);
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .hiring-cards:hover .hiring-cards__side--front {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0); }
      .hiring-cards__details {
        padding: 1rem 3rem; }
      .hiring-cards__cta {
        position: relative;
        top: 0%;
        left: 0;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .hiring-cards__reverse-info {
        margin-bottom: 3rem; } }

.stack {
  width: 75%;
  margin: 0 auto;
  box-shadow: var(--box-shadow-dark);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4rem;
  -webkit-transform: skewX(-12deg);
  -moz-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -o-transform: skewX(-12deg);
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .stack {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .stack {
      -webkit-transform: skewX(0);
      -moz-transform: skewX(0);
      -ms-transform: skewX(0);
      -o-transform: skewX(0);
      transform: skewX(0); } }
  .stack ul {
    margin: 3rem auto; }
    .stack ul li {
      display: inline-block;
      padding: 1rem;
      font-size: var(--font-size-xxsml); }

.tuition-box {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  color: var(--color-white);
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: var(--box-shadow-dark);
  transition: transform 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .tuition-box {
      padding: 2rem; } }
  .tuition-box:hover {
    -webkit-transform: translateY(-1.5rem) scale(1.03);
    -moz-transform: translateY(-1.5rem) scale(1.03);
    -ms-transform: translateY(-1.5rem) scale(1.03);
    -o-transform: translateY(-1.5rem) scale(1.03);
    transform: translateY(-1.5rem) scale(1.03); }

.footer {
  background-color: var(--color-dark-grey2);
  padding: 4rem 0 6rem;
  font-size: 1.4rem;
  color: var(--color-white); }
  .footer__navigation {
    border-top: 1px solid var(--color-white);
    padding-top: 1.5rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: var(--color-white);
    padding: 0.3rem;
    background-color: var(--color-secondary);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    -webkit-transform: rotate(5deg) scale(1.3);
    -moz-transform: rotate(5deg) scale(1.3);
    -ms-transform: rotate(5deg) scale(1.3);
    -o-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid var(--color-white);
    padding-top: 1.5rem;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.row {
  max-width: var(--grid-width);
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: var(--gutter-vertical); }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: var(--gutter-vertical-small); } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: var(--gutter-horizontal); }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: var(--gutter-vertical-small); } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * var(--gutter-horizontal)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * var(--gutter-horizontal)) / 4); }

.header {
  height: 85vh;
  background-image: url(../../img/freelancer.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: url(../../img/freelancer_sml.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 10%; }

.section-hiring {
  background-color: var(--color-light-grey);
  padding: 4rem 0; }

.section-stack {
  position: relative;
  padding: 10rem 0; }

.section-tuition {
  padding: 5rem 0 10rem;
  background-color: var(--color-light-grey); }

.section-contact {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)); }
