.form {
  font-size: var(--font-size-xxsml);

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: var(--box-shadow-dark);
      border-bottom: 3px solid var(--color-primary);
    }

    &:focus:invalid {
      border-bottom: 3px solid var(--color-orange);
    }

    &::-webkit-input-placeholder {
      color: var(--color-dark-grey);
    }
  }

  &__label {
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    -moz-transform: translateY(-4rem);
    -ms-transform: translateY(-4rem);
    -o-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

  textarea {
    resize: vertical;
    max-height: 40rem;
  }
}

.contact {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/contact.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: var(--box-shadow-dark);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 65%,
        transparent 65%
      ),
      url(../../img/contact.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    );
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
